#root {
	/* green 1 - amanacu e-commerce*/
	/* green 2 - partner */
	/* green 3 - shipment guy */

	--green-amanacu-1: #024554;
	--green-amanacu-2: #53736A;
	--green-amanacu-3: #6A8C69;
	--green-amanacu-4: #A8B545;
	--green-amanacu-5: #D5E1B6;

	--white: #ffffff;
	--black: #000000;

	--gray-100: #f0f0f0;
	--gray-200: #e7e7e7;
	--gray-250: #c6c7c8;
	--gray-300: #bfbfbf;
	--gray-400: #959595;
	--gray-450: #585858;
	--gray-500: #6a6a6a;
	--gray-550: #626262;
	--gray-600: #3f3f3f;
	--gray-630: #363636;
	--gray-650: #2d2d2d;
	--gray-700: #151515;
	--gray-800: #0c0c0c;

	--blue-100: #009bf5;
	--blue-200: #008fe2;
	--blue-250: #0078d6;
	--blue-300: #007fdf;
	--blue-400: #007ac0;
	--blue-450: #006faf;
	--blue-550: #006ead;
	--blue-600: #006ba8;
	--blue-630: #00649e;
	--blue-650: #004f7c;
	--blue-700: #003c5f;
	--blue-800: #00283f;
	--blue-900: #000e16;

	--transparent-gray-200: #e7e7e7d5;

	--dark-bs-btn: #212529;
	--dark-500: #212127;
	--dark-600: #16161a;

	--red-500: #e95751;

	--green-500: #22cc88;

	--blue-500: #1e90ff;

	--purple-500: #a51eff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	text-decoration: none;

	/* IE and Edge */
	-ms-overflow-style: none;
	/* Firefox */
	scrollbar-width: none;

}

body {
	background-color: #0c0c0c;
}

a {
	color: var(--green-amanacu-3);
	text-decoration: none;
}
a:hover {
	color: var(--green-amanacu-2);
	text-decoration: none;
	cursor: pointer;
}

/* aplica a largura maxima de tudo dentro do layout */
.layout_content {
	margin-left: auto;
  margin-right: auto;
  max-width: 80rem; /* Define a largura máxima da página (80rem = 1280px) */
	padding: 1rem;
}